###########################################
# Configuration for scanning Maven package#
###########################################
apiKey=b71153a359df4728a5eb5dafc47704e0848b06777659496b9e2296ed2476bd9b
userKey=0167ae6579a14e699d7f697a6f87238f86d4c6d423fb4180a7454cfc235109af
productName=Gradle
projectName=java-gradle-starter-project-master


###########
# General #
###########
fileSystemScan=false

########################################
# Package Manager Dependency resolvers #
########################################

gradle.resolveDependencies=true
#gradle.ignoreSourceFiles=true
#gradle.aggregateModules=true
gradle.preferredEnvironment=wrapper
#gradle.wrapperPath=.\kafka-trunk
#gradle.additionalArguments=
#gradle.excludeModules=
#gradle.includeModules=
#gradle.includedConfigurations=runtimeClasspath
#gradle.ignoredConfigurations=
#gradle.innerModulesAsDependencies=false

#maven.aggregateModules=true
